// colors
$green-500: hsl(158, 36%, 37%);
$green-700: hsl(158, 42%, 18%);
$black: hsl(212, 21%, 14%);
$grey: hsl(228, 12%, 48%);
$cream: hsl(30, 38%, 92%);
$white: hsl(0, 0%, 100%);
$spacing-150: 12px;
$spacing-200: 18px;
$spacing-300: 24px;
$spacing-400: 32px;
// fonts
$title-font: 'Fraunces', serif; // 500
$basic-font: 'Montserrat', serif; // 500, 700

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $cream;
  display: flex;
  flex-direction: column;
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 500;
}

main {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

article {
  background-color: $white;
  border-radius: 10px;
  color: $grey;
  display: flex;
  flex-direction: column;
  margin: 0 15px;

  picture img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-inline-size: 100%;
  }

  .content-wrapper {
    padding: $spacing-300;

    hgroup p {
      letter-spacing: 0.2em;
      margin-bottom: $spacing-150;
      text-transform: uppercase;
    }

    h1,
    strong {
      font-family: $title-font;
      font-size: 32px;
      font-weight: 700;
    }

    h1 {
      color: $black;
      margin-bottom: $spacing-300;
    }

    .description {
      line-height: 1.5;
      margin-bottom: $spacing-300;
    }

    .price {
      align-items: center;
      column-gap: $spacing-150;
      display: flex;

      strong {
        color: $green-500;
      }
    }

    button {
      align-items: center;
      background-color: $green-500;
      border-radius: 10px;
      border: none;
      color: white;
      column-gap: 10px;
      display: flex;
      font-weight: 700;
      height: 48px;
      justify-content: center;
      margin-top: $spacing-200;
      width: 100%;
    }

    button:hover,
    button:active {
      background-color: $green-700;
    }
  }
}

footer {
  flex-shrink: 0;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media (min-width: 699px) {
  article {
    flex-direction: row;
    height: 450px;
    width: 600px;

    picture img {
      border-bottom-left-radius: 10px;
      border-top-right-radius: unset;
      flex: 1;
      height: 100%;
      width: 300px;
    }

    .content-wrapper {
      flex: 1;
      padding: $spacing-400;
    }
  }
}
